QPushButton {
    background-color: green;
    border: none;
    padding: 0px;
    font-weight: bold;
    color: white;
    width: 80px;
    height: 40px
}

QPushButton#setImageButton {
    background-color: black;
}

QPushButton#generateCsvButton {
    width: 170px;
    background-color: #1565C0;
}


QPushButton:pressed { background-color: lime }
